<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Devon Hello | Front-end developer | Guangdong China</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/font-icomoon.css" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
	</head>

	<body>
		<div id="scrollTop"><i class="imooc-icon">&#xeb67;</i></div>
		<!--固定返回导航栏-->
		<div id="back_index">
			<div class="back"><i class="imooc-icon">&#xea48;</i></div>
		</div>
		<div class="container-fluid">
			<div class="row conten_wrap">
				<!--固定左边header-->
				<header id="header" class="col-sm-2 hidden-xs hidden-sm">

					<!--nav 菜单栏-->
					<nav>
						<ul>
							<li class="ul_nav pc_about act">
								<h1>关于</h1>
								<h2>--&nbsp;<i class="imooc-icon">&#xeabb;</i>&nbsp;--</h2>
								<h3>Personal Statement</h3>
							</li>
							<li class="ul_nav pc_work">
								<h1>经历</h1>
								<h2>--&nbsp;<i class="imooc-icon">&#xec46;</i>&nbsp;--</h2>
								<h3>Personality show</h3>
							</li>
							<li class="ul_nav pc_contact">
								<h1>联系</h1>
								<h2>--&nbsp;<i class="imooc-icon">&#xec45;</i>&nbsp;--</h2>
								<h3>Let's get in touch</h3>
							</li>

						</ul>
					</nav>
					<p>感谢一些曾经帮助过我,带给我快乐的人.京ICP备08102442号 dvonhello.com 版权所有</p>
				</header>

				<!--固定右边版块-->
				<section id="web_content" class="col-sm-10">
					<!--第1版块-->
					<section data-hash="index" class="webPage page1">
						<div id="video"></div>
						<div id="main">
							<!--左手-->
							<div class="lefthand hidden-xs">
								<img class="img-responsive" src="/images/home/lefthand.png" />
							</div>
							<!--右手-->
							<div class="righthand hidden-xs">
								<img class="img-responsive" src="/images/home/righthand.png" />
							</div>

							<!--内容区-->
							<section class="about_header">
								<h1>Hello Devon</h1>
								<p>我是孔德文，一个Web前端开发人员,Android爱好者,喜欢编程,有勇气去挑战。</p>
							</section>

							<div class="my_dec">
								<div class="col-sm-8">
									<p>虽然我是一个前端开发人员,我已经落笔在设计过程中,完全失去了一个完整的堆栈环境,甚至创业的帽子。</p>
									<p>我是一个大学的专业电子商务。目前在中山市,广东省,中国,我想任何国家除了职业和个人成长。</p>
									<p>我想参加这个项目,我可以骄傲的,加入一个伟大的团队,促进我的设计和开发工作。花点时间看看我的工作,凭证,如果你有兴趣帮助我做到这一点,让我们取得联系。
									</p>
								</div>
								<div class="col-sm-4 hidden-xs icons">
									<div>
										<h1><a href="https://github.com/kongdewen1994" target="_blank"><i class="imooc-icon">&#xebcf;</i></h1></a>
										<p>GitHub</p>
									</div>
									<div>
										<h1><i class="imooc-icon">&#xeddb;</i></h1>
										<p>We Chat</p>
									</div>
								</div>
							</div>

							<section class="work_header">
								<h1>WORK</h1>
								<p>I am a web front-end developer</p>
								<section class="work_section">
									<div data-hash="WebWorks" class="WebWorks col-sm-7 work_banner work_banner_l">
										<!--<span class="shadowBG"><p>View</p></span>-->
									</div>
									<div data-hash="Chat" class="Chat col-sm-4 work_banner work_banner_r">
										<!--<span class="shadowBG"><p>View</p></span>-->
									</div>

									<div data-hash="Introduce" class="Introduce col-sm-4 work_banner work_banner_r">
										<!--<span class="shadowBG"><p>View</p></span>-->
									</div>
									<div data-hash="AppWorks" class="AppWorks col-sm-7 work_banner work_banner_l">
										<!--<span class="shadowBG"><p>View</p></span>-->
									</div>

									<div data-hash="Experience" class="Experience col-sm-7 work_banner work_banner_l">
										<!--<span class="shadowBG"><p>View</p></span>-->
									</div>
									<div data-hash="Team" class="Team col-sm-4 work_banner work_banner_r">
										<!--<span class="shadowBG"><p>View</p></span>-->
									</div>
								</section>
							</section>

							<section class="contact_header">
								<h1>CONTACT</h1>
								<p>I am a web front-end developer</p>
								<section class="contact_section">
									<div class="col-sm-4 contact_dec">
										<h1>Devon NPO</h1>
										<p>k849996781@vip.qq.com</p>
										<p>+86 13528173818</p>
										<p>Guangdong province china</p>
									</div>
									<div class="col-sm-7 contact_frome">
										<div class="contact_input">
											<span><i class="imooc-icon">&#xec41;</i></span>
											<input class="sendVal" type="text" maxlength="12" placeholder="Your Name" />
										</div>
										<div class="contact_input">
											<span><i class="imooc-icon">&#xec2b;</i></span>
											<input class="sendVal" type="email" maxlength="25" placeholder="Your Email" />
										</div>
										<!--<div class="contact_input">
											<span><i class="imooc-icon">&#xec47;</i></span>
											<input type="tel" maxlength="18" placeholder="Your Phone" />
										</div>-->
										<div class="contact_input">
											<span><i class="imooc-icon">&#xec2c;</i></span>
											<textarea class="sendVal" maxlength="120" placeholder="Write a note"></textarea>
										</div>
										<div class="ajaxBtn">SEND</div>
									</div>
								</section>
							</section>
							<footer>

							</footer>

							<!--/内容区-->

						</div>
					</section>
					<!--第2版块-->
					<section data-hash="WebWorks" class="webPage page2">

						<div class="page2_banner">
							<!--fixed 固定背景-->
						</div>

						<div class="page2_content">

							<div class="page2_wrap">
								<div class="page2_title">
									<h1>WHEN OPPORTUNITIES ARISE</h1>
									<p>PUSHING THE BOUNDARIES OF WEBGL IN THE BROWSER</p>
								</div>

								<div class="work_web_show_wrap">

									<div class="page2_show_wrap">
										<h1>Web Name</h1>
										<div class="col-sm-8 work_show"><img src="/images/home/Overt.png" /></div>
										<div class="col-sm-4 work_dec">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian
												event for passion for all things film and digital, we really didn't have a choice.</p>
										</div>
									</div>

									<div class="page2_show_wrap">
										<h1>Web Name</h1>
										<div class="col-sm-8 work_show"><img src="/images/home/Eximius.png" /></div>
										<div class="col-sm-4 work_dec">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian
												event for passion for all things film and digital, we really didn't have a choice.</p>
										</div>
									</div>

									<div class="page2_show_wrap">
										<h1>Web Name</h1>
										<div class="col-sm-8 work_show"><img src="/images/home/HTR-2.png" /></div>
										<div class="col-sm-4 work_dec">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian
												event for passion for all things film and digital, we really didn't have a choice.</p>
										</div>
									</div>

									<div class="page2_show_wrap">
										<h1>Web Name</h1>
										<div class="col-sm-8 work_show"><img src="/images/home/inMotion.png" /></div>
										<div class="col-sm-4 work_dec">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian
												event for passion for all things film and digital, we really didn't have a choice.</p>
										</div>
									</div>

									<div class="page2_show_wrap">
										<h1>Web Name</h1>
										<div class="col-sm-8 work_show"><img src="/images/home/Spinnakr-2.png" /></div>
										<div class="col-sm-4 work_dec">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian
												event for passion for all things film and digital, we really didn't have a choice.</p>
										</div>
									</div>

								</div>

							</div>

						</div>

					</section>
					<!--第3版块-->
					<section data-hash="Chat" class="webPage page3">

						<div class="page3_banner">
							<!--fixed 固定背景-->
						</div>

						<div class="page3_content">

							<div class="page3_wrap">
								<div class="page3_title">
									<h1>WHEN OPPORTUNITIES ARISE</h1>
									<p>PUSHING THE BOUNDARIES OF WEBGL IN THE BROWSER</p>
								</div>

								<!--个人动态信息-->
								<div class="myDynamic">

									<!--信息条-->
									<div class="message">
										<div class="face">
											<img src="/images/home/jonathan.jpg" />
											<p>2016-03-20 13:24</p>
										</div>
										<div class="message_content">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions.</p>
										</div>
									</div>
									<!--信息条-->
									<div class="message">
										<div class="face">
											<img src="/images/home/jonathan.jpg" />
											<p>2016-03-20</p>
										</div>
										<div class="message_content">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions.</p>
											<ul>
												<li><img src="/images/home/a.jpg" /></li>
												<li><img src="/images/home/b.jpg" /></li>
												<li><img src="/images/home/a.jpg" /></li>
												<li><img src="/images/home/b.jpg" /></li>
											</ul>
										</div>
									</div>
									<!--信息条-->
									<div class="message">
										<div class="face">
											<img src="/images/home/jonathan.jpg" />
											<p>2016-03-20</p>
										</div>
										<div class="message_content">
											<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions.</p>
											<ul>
												<li><img src="/images/home/a.jpg" /></li>
												<li><img src="/images/home/b.jpg" /></li>
												<li><img src="/images/home/a.jpg" /></li>
												<li><img src="/images/home/b.jpg" /></li>
											</ul>
										</div>
									</div>

								</div>

							</div>

						</div>

					</section>
					<!--第4版块-->
					<section data-hash="Introduce" class="webPage page4">

						<div class="page4_banner">
							<!--fixed 固定背景-->
						</div>

						<div class="page4_content">

							<div class="page4_wrap">
								<div class="page4_title">
									<h1>WHEN OPPORTUNITIES ARISE</h1>
									<p>PUSHING THE BOUNDARIES OF WEBGL IN THE BROWSER</p>
								</div>
								<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian event
									for digital creatives, strategists and technologists. Mid-discussion, John casually asked if we'd be interested in creating the opening title sequence for the event, the only caveat being it had to run real-time in the browser. With an intense
									passion for all things film and digital, we really didn't have a choice.</p>
							</div>

						</div>

					</section>
					<!--第5版块-->
					<section data-hash="AppWorks" class="webPage page5">

						<div class="page5_banner">
							<!--fixed 固定背景-->
						</div>

						<div class="page5_content">

							<div class="page5_wrap">
								<div class="page5_title">
									<h1>WHEN OPPORTUNITIES ARISE</h1>
									<p>PUSHING THE BOUNDARIES OF WEBGL IN THE BROWSER</p>
								</div>
								<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian event
									for digital creatives, strategists and technologists. Mid-discussion, John casually asked if we'd be interested in creating the opening title sequence for the event, the only caveat being it had to run real-time in the browser. With an intense
									passion for all things film and digital, we really didn't have a choice.</p>
							</div>

						</div>

					</section>
					<!--第6版块-->
					<section data-hash="Experience" class="webPage page6">

						<div class="page6_banner">
							<!--fixed 固定背景-->
						</div>

						<div class="page6_content">

							<div class="page6_wrap">
								<div class="page6_title">
									<h1>WHEN OPPORTUNITIES ARISE</h1>
									<p>PUSHING THE BOUNDARIES OF WEBGL IN THE BROWSER</p>
								</div>
								<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian event
									for digital creatives, strategists and technologists. Mid-discussion, John casually asked if we'd be interested in creating the opening title sequence for the event, the only caveat being it had to run real-time in the browser. With an intense
									passion for all things film and digital, we really didn't have a choice.</p>
							</div>

						</div>

					</section>
					<!--第7版块-->
					<section data-hash="Team" class="webPage page7">

						<div class="page7_banner">
							<!--fixed 固定背景-->
						</div>

						<div class="page7_content">

							<div class="page7_wrap">
								<div class="page7_title">
									<h1>WHEN OPPORTUNITIES ARISE</h1>
									<p>PUSHING THE BOUNDARIES OF WEBGL IN THE BROWSER</p>
								</div>
								<p>After moving to Sydney to work for Reactive Media, I found myself one day sitting across the room from John Allsopp of "A Dao of Web Design" fame. He had come in to plan an inter-agency crawl to support Web Directions, the premier Australian event
									for digital creatives, strategists and technologists. Mid-discussion, John casually asked if we'd be interested in creating the opening title sequence for the event, the only caveat being it had to run real-time in the browser. With an intense
									passion for all things film and digital, we really didn't have a choice.</p>
							</div>

						</div>

					</section>

				</section>
			</div>
		</div>

		<script src="/javascripts/jquery-2.1.4.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/sea.js"></script>
		<script type="text/javascript" src="/javascripts/is.min.js"></script>
		<script>
			seajs.use("/javascripts/module/index", function(e) {
				e.doSomething();
			});
		</script>

	</body>

</html>